body {
	font-family: 'Concert One', cursive;
	text-align: center;
	margin: 0;
	background-color: #212121;
  font-size: 3vw;
  color: #d2feff;
}


h1#title {
	color: #ff3540;
	text-shadow: 5px 5px 40px #ff35408c;
	font-weight: bold;
	font-style: italic;
	font-size: 3vw;
	display: inline-flex;
}


img#iconApp {
	width: 3vw;
	height: auto;
	display: inline;
}
img#iconApp2 {
  width: 3vw;
  height: auto;
  display: inline;
}


p {
  margin: 0;
  font-size: 2vw;
}


#descrip {
	font-size: 2vw;
  margin: 20px 50px 0 50px;
}


#enlace {
  font-size: 1.5vw;
}


#imgApp {
  margin-top: 20px;
	width: 40vw;
	height: auto;
}


/*/////////////////////*/
#downloadAPP {
  color: #212121;
  background-color: #ff9900d1;
  width: 20vw;
  height: auto;
  border-radius: 10px;
  font-size: 2.5vw;
}

#downloadAPP:hover {
  background-color: #f72f3d;
}



/*/////////////////////*/
/* GitHub */
#github {
  color: #1b78ab;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

#imgGitHub {
  padding-right: 10px;
  width: 6vw;
  height: auto;
}

a {
  font-family: 'Concert One', cursive;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  color: #2e61cc;
  text-decoration: none;
}
a:visited {
    color: #ff3540
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #ff3540;
    background-color: transparent;
}
a:active {
    color: #f6a428;
    background-color: transparent;
    text-decoration: underline;
}


/*/////////////////////*/
/* scroll personalised */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: tomato; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #844eff; 
}

/*///////////////////////////*/